<div style="margin: 20px;">
    <div class="blue-border" style="width: 100px; text-align: center; float: right;">
        <img src="{tileUrl}" style="width: 70px; height: auto;"/>
    </div>
    <p>
        Type: <strong>Football Pitch</strong>
        <br/>
        Owner: <strong>City Council</strong>
        <br/>
        Football team: <strong>{team}</strong>
    </p>
    <hr>
    <p>
        Local football team plays every month. You can visit bookie and make a bet.
        Maybe you want to visit the referee and talk to him...
    </p>
    [START lastMatch]
    <hr>
    <p style="text-align: center;">
        Last match:<br>
        <strong>{team}</strong> <big>{goals1}</big> vs <big>{goals2}</big> <strong>{team2}</strong>
        <br><br>
        Referee: {referee}
    </p>
    [END lastMatch]
    <hr>
    <p style="text-align: center;">
        Next match:<br>
        <strong>{team}</strong> vs <strong>{team2}</strong>
        <br><br>
        Referee: {referee}
        <br><br>
        <button class="btn btn-sm" onclick="{makeBetUrl}">Make a bet</button>
        <button class="btn btn-sm">Meet referee</button>
    </p>
    <hr>
    
    
</div>

