<div style="margin: 20px;">
    <div class="blue-border" style="width: 100px; text-align: center; float: right;">
        <img src="{tileUrl}" style="width: 70px; height: auto;"/>
    </div>
    <p>
        Type: <strong>Football Pitch</strong>
        <br/>
        Owner: <strong>City Council</strong>
        <br/>
        Football team: <strong>{team}</strong>
    </p>
    <hr>
    <p>
        Local football team plays every month. You can visit bookie and make a bet.
        Income from gambling is tax free.
    </p>
    [START lastMatch]
    <hr>
    <p style="text-align: center;">
        Last match:<br>
        <strong>{team}</strong> <big>{goals1}</big> vs <big>{goals2}</big> <strong>{team2}</strong>
        <br><br>
        Referee: {referee}
    </p>
    [END lastMatch]
    <hr>
    <p style="text-align: center;">
        Next match:<br>
        <strong>{team}</strong> vs <strong>{team2}</strong>
        <br><br>
        Referee: {referee}
        
        [START makeBet]
        <br><br>
        <button class="btn btn-sm" onclick="{makeBetUrl}">Make a bet</button>
        [END makeBet]
        [START betInfo]
        <hr>
        You have made bet {money} on {who}<br>
        You can potencially win <b>{win}</b>. Keep your fingers crossed.
        <br>
        <div class="float-right">
            <span class="light hand" onclick="{contactRefereeJS}">Talk to the {referee}</span>
        </div>
        <div style="clear: both; margin-top:10px;"></div>
        [END betInfo]
    </p>
    <hr>
    
    
</div>

