<div style="margin: 20px;">
    <div class="blue-border" style="width: 100px; text-align: center; float: right;">
        <img src="{tileUrl}" style="width: 70px; height: auto;"/>
    </div>
    <p>
        Type: <strong>Football Pitch</strong>
    </p>
    <p>
        Owner: <strong>City Council</strong>
    </p>
    <hr>
    <p>
        Local football team plays every saturday. A lot of people come to see the game.
        It is a good place to advertise your's company products and services.
    </p>
    <p>
    <span class="light hand">Check prices</span>
    </p>
</div>

