<div style="margin: 20px;">
    <p style="text-align: center;">
        Next match:<br>
        <strong>{team}</strong> vs <strong>{team2}</strong>
        <br><br>
        Referee: {referee}
    </p>
    <hr>
    <p>
        <form onsubmit="event.preventDefault();  formSubmit({windowIndex}, '{submitUrl}', this);">
        <input type="hidden" name="matchUUID" value="{matchUUID}" />
        <div>
            The amount you want to bet:<br>
          $ <input type="text" name="money" id="x1" value="{money}">
        </div>
        <br>
        <div>
          <input type="radio" name="result" id="x1" value="{team1Won}">
          <label for="x1">{team} win ({team1winRatio})</label>
        </div>
        <div>
          <input type="radio" name="result" id="x2" value="{team2Won}">
          <label for="x2">{team2} win ({team2winRatio})</label>
        </div>
        <div>
          <input type="radio" name="result" id="x3" value="{draw}">
          <label for="x3">draw  ({drawRatio})</label>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-sm" onclick="this.submit();">Make a bet</button>
        </div>
        </form>
    </p>
</div>
