<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/noty.css" rel="stylesheet">
    <link href="/css/noty.bootstrap-v4.css" rel="stylesheet">
    <link href="/js/libs/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/font-awesome-4.7.0/css/font-awesome-animation.min.css" rel="stylesheet">
    <link href="/css/windows.css" rel="stylesheet">

    <title>{title}</title>
  </head>
  
  <body>
    <div class="container mt-3">
        <div class="mainMenu" id="mainMenu">
            <div class="mainMenuEntry hand" onclick="{openWalletBalance}"><i class="fa fa-money"></i> <span id="wallet">{money}</span></div>
            <div class="mainMenuEntry hand" onclick="{openBankTransactions}"><i class="fa fa-bank"></i> Bank transactions</div>
            <div class="mainMenuEntry"><i class="fa fa-building-o"></i> My property</div>
        </div>
        <div class="gameClock" id="gameClock">
            <i class="fa fa-calendar"></i> <span id="gameDate">{gameDate}</span>
            <span id="dateCounter" class="dateCounter">00:00</span>
        </div>
        {body}
    </div>

    <script src="/js/libs/jquery-3.6.0.min.js"></script>
    <script src="/js/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/libs/jcanvas.min.js"></script>
    <script src="/js/libs/noty.min.js"></script>
    <script src="/js/windows/notifications.js"></script>
    <script src="/js/windows/engine.js"></script>
    <script src="/js/windows/windowManager.js"></script>
    <script src="/js/windows/loader.js"></script>
    <script src="/js/windows/engine.js"></script>
    <script src="/js/gameCalculator.js"></script>
    <script src="/js/mapObject.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/gameMap.js"></script>
    <script src="/js/gameTraffic.js"></script>
    <script src="/js/init.js?playerSessionID={playerSessionID}"></script>
    <script src="/js/websockets.js?playerSessionID={playerSessionID}"></script>

  </body>
</html>
