<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/bootstrap-5.0.0/bootstrap.darkly.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <title>{title}</title>
  </head>
  
  <body>
    <div class="container mt-3">
        {body}
    </div>

    <script src="/bootstrap-5.0.0/bootstrap.min.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jcanvas.min.js"></script>
    <script src="/js/gameMap.js"></script>
    <script src="/js/init.js"></script>

  </body>
</html>
