<div style="margin: 20px;">

<div class="grass" style="width: 100px; text-align: center; float: right;">
    <img src="{tileUrl}" style="width: 70px; height: auto;"/>
    <br><span style="color: #222222; font-size: 0.8em;">{type}</span>
</div>
<p>
<table class="detailsTable" style="width: 300px; margin: 5px; float: left">
<tbody>
<tr>
    <td>Property name</td>
    <td style="text-align: right;"><strong>{name}</strong></td>
</tr>

<tr>
    <td>Type</td>
    <td style="text-align: right;">{type}</td>
</tr>
<tr>
    <td>Monthly income</td>
    <td style="text-align: right;">{monthlyIncome}</td>
</tr>
<tr>
    <td>Income tax ({taxRate}%)</td>
    <td style="text-align: right;">{monthlyIncomeTax}</td>
</tr>
<tr>
    <td>Monthly costs</td>
    <td style="text-align: right;">{monthlyCosts}</td>
</tr>
<tr>
    <td>Monthly balance</td>
    <td style="text-align: right;"><strong>{balance}</strong></td>
</tr>
</tbody>
</table>

<table class="detailsTable" style="width: 400px; margin: 5px; float: left">
<tbody>
<tr>
    <td>Purchase price </td>
    <td style="text-align: right;">{purchasePrice} (excl. tax)</td>
</tr>

<tr>
    <td>Investments</td>
    <td style="text-align: right;">{investmentsValue} (excl. tax)</td>
</tr>
<tr>
    <td>Estimated current price</td>
    <td style="text-align: right;">{estimatedValue}</td>
</tr>
[START sellOptions]
<tr>
    <td>Instant transaction offer</td>
    <td style="text-align: right;"><button class="btn btn-sm" onclick="{instantSellJS}">Sell for {instantSellPrice}</button></td>
</tr>
<tr>
    <td>Real Estate Market</td>
    <td style="text-align: right;"><button class="btn btn-sm">Sell on market</button></td>
</tr>
[END sellOptions]
</tbody>
</table>
<div style="clear: both;"></div>
</p>
{actions}
<div style="clear: both; margin-top:10px;"></div>
</div>
