<div style="margin: 20px;">

<div class="grass" style="width: 100px; text-align: center; float: right;">
    <img src="{tileUrl}" style="width: 70px; height: auto;"/>
    <br><span style="color: #222222; font-size: 0.8em;">{type}</span>
</div>
<p>
<table class="detailsTable" style="width: 300px; margin: 5px; float: left">
<tbody>
<tr>
    <td>Property name</td>
    <td style="text-align: right;"><strong>{name}</strong></td>
</tr>
<tr>
    <td>Monthly income</td>
    <td style="text-align: right;">{monthlyIncome}</td>
</tr>
<tr>
    <td>Monthly costs</td>
    <td style="text-align: right;">{monthlyCosts}</td>
</tr>
<tr>
    <td>Monthly balance</td>
    <td style="text-align: right;"><strong>{balance}</strong></td>
</tr>
</tbody>
</table>

<table class="detailsTable" style="width: 400px; margin: 5px; float: left">
<tbody>
<tr>
    <td>Purchase price </td>
    <td style="text-align: right;">{purchasePrice} (+ taxes & provisions)</td>
</tr>
<tr>
    <td>Estimated current price</td>
    <td style="text-align: right;">{estimatedValue}</td>
</tr>
<tr>
    <td>Instant transaction offer</td>
    <td style="text-align: right;"><button class="btn btn-sm" onclick="{instantSellJS}">Sell for {instantSellPrice}</button></td>
</tr>
<tr>
    <td>Real Estate Market</td>
    <td style="text-align: right;"><button class="btn btn-sm">Sell on market</button></td>
</tr>
</tbody>
</table>
<div style="clear: both;"></div>
</p>
[START info]
<p>
{text}
</p>
[END info]
[START investment]
<div class="lightBorder" style="width: 250px; padding:10px; margin: 5px; float: left">
    <div class="centered" style="font-weight: bold;">{name}</div>
    <table style="width: 100%; font-size: 0.9em;">
    <tbody>
    <tr>
        <td>Build costs:</td>
        <td style="text-align: right;">{investmentCost}</td>
    </tr>
    <tr>
        <td>Value added tax</td>
        <td style="text-align: right;">{investmentTax}</td>
    </tr>
    <tr>
        <td>Total costs</td>
        <td style="text-align: right;">{investmentTotal}</td>
    </tr>
    <tr>
        <td>Build time</td>
        <td style="text-align: right;">{investmentDuration}</td>
    </tr>
    <tr>
        <td>Potential income/profit</td>
        <td class="light hand" style="text-align: right;">Check</td>
    </tr>
    </tbody>
    </table>
    <br>
    <div class="centered" style="margin-top: 15px;"><button class="btn" onclick="{actionJS}">Start investment</button></div>
</div>
[END investment]

</div>
