<table style="border: 1px solid #a1f1fe; width: 200px; border-spacing: 10px; float: left; margin: 5px;">
<tbody>
[START storey]
<tr>
<td style="background-color: #1F5E71; padding: 4px;"> {storey}.1 $
</td>
<td style="background-color: #70311E; padding: 4px;"> {storey}.2 !
</td>
</tr>
[END storey]
</tbody>
</table>

<table style="border: 1px solid #a1f1fe; width: 400px; border-spacing: 10px; float: left; margin: 5px;">
<tbody>
[START apartment]
<tr>
<td style="padding: 4px; font-size: 0.9em;"> Apartment {flatNo}
<div style="float: right;">Owner: Johny Cash</div>
<br>Monthly income:
<div style="float: right;">$ 3 750</div>
<br>Monthly maintenance:
<div style="float: right;">$ 930</div>
</td>
</tr>
[END apartment]
</tbody>
</table>
