<div style="margin: 20px;">
    <div class="blue-border" style="width: 100px; text-align: center; float: right;">
        <img src="{tileUrl}" style="width: 70px; height: auto;"/>
    </div>
    <p>
        Type: <strong>Road</strong>
    </p>
    <p>
        Owner: <strong>{owner}</strong>
    </p>
    <hr>
    <p>
        Roads are important for transportation.
        In fact, you cannot build a residential building if your location does not have a direct access to a public road.
        Locations that are further from roads are cheaper and cannot be used for any community investments.
        But you can build your own road and increase the value of surrounding locations...
    </p>
</div>
