<div style="margin: 20px;">
<p style="text-align: center;">
    PROPERTY ON SALE!
</p>
<p>
Federal Real Estate Agency estimated this property value to <strong>{value}</strong>
</p>
<p>
<table style="width: 100%;">
<tbody>
<tr>
    <td>Price</td>
    <td style="text-align: right;">{value}</td>
</tr>
<tr>
    <td>Value Added Tax</td>
    <td style="text-align: right;">{tax}</td>
</tr>
<tr>
    <td>Transaction costs</td>
    <td style="text-align: right;">{transactionCosts}</td>
</tr>
<tr>
    <td>Total</td>
    <td style="text-align: right;"><strong>{total}</strong></td>
</tr>
</tbody>
</table>
</p>

<p style="text-align: center;">
    <button onClick="{buyScript}">Buy now for {total}</button>
</p>
</div>
