<div style="margin: 20px;">
<p style="text-align: center;">
    PROPERTY ON SALE!
</p>
<p>
Federal Real Estate Agency estimated this property's value to <strong class="light">{value}</strong>
</p>
<p>
<table class="detailsTable">
<tbody>
<tr>
    <td>Price</td>
    <td style="text-align: right;">{value}</td>
</tr>
<tr>
    <td>Value Added Tax ({taxRate}%)</td>
    <td style="text-align: right;">{tax}</td>
</tr>
<tr>
    <td>Transaction fee</td>
    <td style="text-align: right;">{transactionFee}</td>
</tr>
<tr>
    <td>Total</td>
    <td style="text-align: right;"><strong>{total}</strong></td>
</tr>
</tbody>
</table>
</p>

<p style="text-align: center;">
    <button onClick="{buyScript}" class="btn">Buy now for {total}</button>
</p>
</div>
