<div style="margin: 10px;">
    <table class="detailsTable" style="width: 100%;">
        <theader>
            <th  style="text-align: left;">Investment</th>
            <th style="text-align: right;">Balance</th>
        </theader>
    <tbody>
        [START investment]
        <tr>
            <td onclick="{onclick}" style="cursor: pointer;">{name}</td>
            <td style="text-align: right;"><strong>{balance}</strong></td>
        </tr>
        <tr><td colspan=2><hr /></td></tr>
        [END investment]
    </tbody>
    </table>
</div>

