body {
    background-color: #222222;
    font-size: 12px;
    font-family: Verdana, Arial
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#canvasInteraction {
    opacity: 0.7;
}

.mainMenu {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 150px;
    background-color: #252832;
    z-index: 6;
    color: #FF8000;
    box-shadow: 0px 0px 10px #141414;
    border-radius: 3px;
    
}

.mainMenuEntry {
    height: 15px;
    padding: 6px;
}

.gameClock {
    position: fixed;
    top: 0px;
    left: 50%;
    width: 260px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -55px;
    background-color: #252832;
    text-align: center;
    z-index: 6;
    color: #FF8000;
    box-shadow: 0px 0px 10px #141414;
}

.dateCounter {
    opacity: 0.5;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #5B9AAD;
}

hr.orange {
    border-top: 1px solid #AD6F5C;
}

.detailsTable {
    width: 100%;
    border: 1px solid #AD6F5C;
    font-size: 0.9em;
    border-radius: 4px;
}

.orange-border {
    border: 1px solid #AD6F5C;
}

.blue-border {
    border: 1px solid #5B9AAD;
}

.grass {
    background-color: #9BAA4A;
}

.light {
    color: #a1f1fe;
}

.hand {
    cursor: pointer;
}

.btn {
    border-radius: 4px;
    background-color: #a1f1fe;
    color: #252832;
    border: none;
    cursor: pointer;
}

.btn-sm {
    font-size: 0.93em;
}

.btn-danger {
    background-color: #AD6F5C;
}

.lightBorder {
    border: 1px solid #a1f1fe;
    border-radius: 4px;
}

.centered {
    text-align: center;
}

.text-green {
    color: #00AF00;
}

.text-red {
    color: #F50000;
}

.text-orange {
    color: #AD6F5C;
}

.float-right {
    float: right;
}

input[type=text] {
    border: 1px solid #5B9AAD;
    background-color: #30323C;
    color: white;
}

.priceTable {
    width: 100%;
    border-collapse: collapse;
}

.priceTable, .priceTable td, .priceTable th {
  border: 1px solid #003649;
}

.priceTable th {
  text-align: left;
}

.notification-icon {
    float: left;
    padding:5px;
    margin-right: 5px;
}
