
.appWindow {
    position: fixed;
    left: 100px;
    z-index: 10;
    border-radius: 5px;
    background: #252832;
    box-shadow: 0px 0px 10px #222222;
}

.appWindowActive {
    z-index: 11;
}

.appWindowTitlebar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #333026, color-stop(1.0, #1F1C12)));
  background: -webkit-linear-gradient(top, #333026, #1F1C12);
  background: -moz-linear-gradient(top, #333026, #1F1C12);
  background: -ms-linear-gradient(top, #333026, #1F1C12);
  background: -o-linear-gradient(top, #333026, #1F1C12);
  background: linear-gradient(top, #333026, #1F1C12);
  color: #AD6F5C;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 20px;
  border-top: 1px solid #333026;
  border-bottom: 1px solid #1F1C12;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;
  z-index: 12;
}

.appWindowTitlebarLoader {
    margin-right: 5px;
}

.appWindowButtons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
}

.appWindowButtons: hover a {
  visibility: visible;
}

.appWindowClose {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

.appWindowClose:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.appWindowClose:active .appWindowClosebutton {
  color: #4e0002;
}

.appWindowClosebutton {
  color: #820005;
  visibility: hidden;
  text-decoration: none;
  cursor: pointer;
}

.appWindowContent {
    padding: 0px;
    width: 100%;
    height: calc(100% - 20px);
    overflow:auto;
}

.appWindowFrame, .appWindowContentLoader {
    position: absolute;
    width: 100%;
    height: calc(100% - 35px);
    top: 20px;
    bottom: 20px;
    border: 0px;
}


.appWindowContentLoader {
    background-color: #252832;
    opacity: 0.5;
    z-index: 14;
    color: #a1f1fe;
    text-align: center;
}

.appWindowContentLoader > i {
    margin-top: 30px;
}

.appWindowContentDiv {
    margin: 5px;
}

/* inner window template windowApp.tpl */
.appInnerWindowMenu {
    position: absolute;
    height: 40px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.appInnerWindowContent {
    margin-top: 40px;
}

.blurred {
}




.smaller {
    font-size: smaller;
}

.hand {
    cursor: pointer;
}

.fullWidth {
    width: 100%;
}

.silver {
    color: #C0C0C0;
}

.backgroundGray {
    background-color: #252832;
    color: #5B9AAD;
}
