
<div style="font-size: 0.9em; margin: 5px; width: 400px;">

    If something wrong will happen on your parking lot, you will have to cover the expenses.
    If you have active insurance policy, the damage will be paid up to the insurance coverage limit.
    Otherwise, you have to pay by cash.
    <br><br>
    Car business is profitable but risky. There are thieves out there waiting to steal parts.
    Also there are competitors who want get your customers, so they may cause some damages on purpose in order to lower trust in your business.
    <br><br>
    Insurance policy covers both accidents and damages caused on purpose.
    <br><br>
    <hr>
    <form onsubmit="event.preventDefault();  formSubmit({windowIndex}, '{submitUrl}', this);">
        <b>Insurance policy</b>
        <div class="float-right text-dark">Responsibility limit</div>
        <br><br>
        [START insurance]
        <div class="w100" style="border-bottom: 1px solid #003649;">
          <input type="radio" name="insurance" id="{value}" value="{value}" {checked}>
          <label for="{value}">{name} - {money} per month</label>
          <div class="float-right text-dark">{limit}</div>
        </div>
        [END insurance]
        <div>
            <br>
            <input type="submit" class="btn btn-sm" value="Order services"/>
        </div>
    </form>
</div>

