<div style="font-size: 0.9em; margin: 5px; width: 400px; overflow: auto; height:400px;">
    Your parking lot is trusted by <b>{trustLevel}%</b> customers (see Advertising tab).
    <br><br>

    [START noDamages]
    Currently there are no damages to the cars on your parking lot. You don't have to compensate to anyone. You don't have to use the insurance to cover damages.
    <br>
    All clear.
    [END noDamages]
    [START damage]
    <div class="detailsTable mb5 p5 {css}" style="width: 360px;">
    <div class="float-right">Date: {date}</div>
    <table>
        <tr><td>Car:</td><td>{car}</td></tr>
        <tr><td>Damage type:</td><td>{type}</td></tr>
        <tr><td>Damage value:</td><td><b>{money}</b></td></tr>
        <tr><td>Status:</td><td><b>{status}</b></td></tr>
    </table>
        <button class="btn btn-sm float-right">Pay {money}</button>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
    [END damage]
    <br><br>
</div>
