

<div style="font-size: 0.9em; margin: 5px; width: 400px;">
    When there are accidents (or damages on purpose) customers tend to loose trust to businesses.
    People even might forget about services if you will not invest enough in marketing and advertisement.
    To get on the track and remind people about your business and make them trust in your services, invest in advertisement!
    <hr>
    <br>
    <form onsubmit="event.preventDefault();  formSubmit({windowIndex}, '{submitUrl}', this);">
        <b>Advertisement</b>
        [START advert]
        <div>
          <input type="radio" name="advertisement" id="{value}" value="{value}" {checked}>
          <label for="{value}">{name} - {money} per month</label>
        </div>
        [END advert]
        <div>
            <br>
            <input type="submit" class="btn btn-sm" value="Order services"/>
        </div>
    </form>
</div>
