

<div style="font-size: 0.9em; margin: 5px; width: 400px;">
    When you have bad luck or you forgot to pay for security, the trust in you business goes down.
    To get on the track and let people trust in your business again, invest in advertisement!
    <hr>
    <form onsubmit="event.preventDefault();  formSubmit({windowIndex}, '{submitUrl}', this);">
        <b>Advertisement</b>
        [START advert]
        <div>
          <input type="radio" name="advertisement" id="{value}" value="{value}" {checked}>
          <label for="{value}">{name} - {money} per month</label>
        </div>
        [END advert]
        <div>
            <br>
            <input type="submit" class="btn btn-sm" value="Order services"/>
        </div>
    </form>
</div>
