
<div style="font-size: 0.9em; margin: 5px; width: 400px;">
    Running business like this requires some level of protection. Cars might get damaged by random hooligans or competitors
    may try to eliminate you from the business.
    <br><br>
    You should order some security systems or supervision to prevent from bad things to happen..
    <br><br>
    <hr>
    <form onsubmit="event.preventDefault();  formSubmit({windowIndex}, '{submitUrl}', this);">

        <b>Security options</b>
        <div class="float-right text-dark">Effectiveness</div>
        <br><br>
        [START security]
        <div class="w100" style="border-bottom: 1px solid #003649;">
          <input type="radio" name="security" id="{value}" value="{value}" {checked}>
          <label for="{value}">{name} - {money} per month</label>
          <div class="float-right text-dark">{effectiveness}%</div>
        </div>
        [END security]
        <div>
            <br>
            <input type="submit" class="btn btn-sm" value="Order services"/>
        </div>
    </form>
</div>
