
<table class="detailsTable" style="width: 400px; margin: 5px; float: left">
<tbody>
<tr>
    <td>Property name</td>
    <td style="text-align: right;"><strong>{name}</strong></td>
</tr>

<tr>
    <td>Type</td>
    <td style="text-align: right;">{type}</td>
</tr>
<tr>
    <td colspan=2><hr class="orange" /></td>
</tr>


<tr>
    <td colspan=2>
    Real Estate Market is the place where you can publish sell offers.
    If you want to sell your property fast, set attractive price.
    There are investors who will buy anything when the price is fair.
    </td>
    
</tr>
<tr><td colspan=2><hr/></td></tr>
<tr>
    <td>Price you want get</td>
    <td style="text-align: right;">
        $ <input type="text" value="{price}" onkeypress="onlyNumbers(event)" id="price{windowIndex}" size=14 />
    </td>
</tr>
</tbody>
</table>

<table style="width: 400px; margin: 5px; float: left">
    <tbody>
        <tr>
            <td colspan=2 style="text-align: center;"><button class="btn btn-sm" onclick="publishOffer({windowIndex}, '{submitUrl}');">Publish offer</button></td>
        </tr>
    </tbody>
</table>

